.page-enter-active,
.page-leave-active {
  transition: opacity 0.3s;
}

.page-enter,
.page-leave-active {
  opacity: 0;
}

.v-responsive__sizer {
  flex: none !important;
}

/* .v-card__text {
  padding-bottom: 0px !important;
} */
